{% extends 'base.html' %}

{% block title %}Админка{% endblock %}

{% block content %}
<div class="container">
    <h1 class="my-4 text-center">Административные функции</h1>

    <!-- Карточки для админских операций -->
    <div class="row">
        <div class="col-md-4">
            <div class="card shadow-sm mb-4">
                <div class="card-header bg-warning text-white">
                    <h5 class="card-title">Обновить стоимость туров</h5>
                </div>
                <div class="card-body">
                    <p>Вы можете обновить стоимость туров на основе выбранных параметров.</p>
                    <form method="POST" action="{{ url_for('routes_bp.update_tour_cost') }}">
                        <button type="submit" class="btn btn-warning btn-block">Перейти</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow-sm mb-4">
                <div class="card-header bg-info text-white">
                    <h5 class="card-title">Обновить популярность</h5>
                </div>
                <div class="card-body">
                    <p>Обновите рейтинг и популярность туров на основе новых данных.</p>
                    <form method="POST" action="{{ url_for('routes_bp.update_popularity') }}">
                        <button type="submit" class="btn btn-info btn-block">Перейти</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card shadow-sm mb-4">
                <div class="card-header bg-success text-white">
                    <h5 class="card-title">Таблица популярных маршрутов</h5>
                </div>
                <div class="card-body">
                    <p>Создайте таблицу с самыми популярными маршрутами для удобства анализа.</p>
                    <form method="POST" action="{{ url_for('routes_bp.create_popular_routes') }}">
                        <button type="submit" class="btn btn-success btn-block">Перейти</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
